node_modules/

# Builds e distribuições
dist/
build/
out/
lib/
storybook-static/

# Caches e temporários
.cache/
.angular/cache/
node_modules/.cache/
.eslintcache
.tsbuildinfo
.turbo/
.tmp/
.temp/

# Test/coverage
coverage/

# Ambientes
.env
.env.*
.env.local
.env.development*
.env.production*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
debug.log

# IDE/OS
.vscode/
.idea/
.trae/
.DS_Store
Thumbs.db
desktop.ini

# Frameworks (precaução em exemplos)
.next/
.nuxt/
